POSTGRES_USER=iot_admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=iot_hospital
POSTGRES_HOST=iot-postgres
POSTGRES_PORT=5432

MQTT_HOST=iot-mosquitto
MQTT_PORT=1883
MQTT_USER=ingestor
MQTT_PASSWORD=change_me
MQTT_TOPIC=hospital/+/telemetry

BACKEND_PORT=5000
WAIT_TIMEOUT=120
WAIT_INTERVAL=2
